@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0f0f0f;
	--foreground: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--foreground: #ededed;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: "Josefin Sans", sans-serif;

	background-size: 200% 200%;

	-webkit-animation: gradient-shift 60s cubic-bezier(0.45, 0, 0.55, 1) infinite;
	-moz-animation: gradient-shift 60s cubic-bezier(0.45, 0, 0.55, 1) infinite;
	-o-animation: gradient-shift 60s cubic-bezier(0.45, 0, 0.55, 1) infinite;
	animation: gradient-shift 60s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes gradient-shift {
	0% {
		background-position: 1% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 1% 0%;
	}
}
